<div class="container">
  <div class="actions">
    <a href="/rooms/new" mat-flat-button color="primary">Create new room</a>
  </div>

  <table *ngIf="rooms" mat-table [dataSource]="rooms" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>

      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="join-button">
      <th mat-header-cell *matHeaderCellDef></th>

      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="primary" (click)="onJoin.emit(element.id)">Join</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>

      <td mat-cell *matCellDef="let element">
        <mat-chip-listbox>
          <mat-chip>{{element.status}}</mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
