.container {
  padding: 0 5rem;
}

.mat-column-join-button {
  text-align: center;
  width: 100px;
}

.mat-column-status {
  text-align: center;
  width: 100px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 1rem;
}
