<div class="container">
  <form class="form" [formGroup]="createRoomForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="90px">
      <mat-grid-tile colspan="1">
        <h2>Create room</h2>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Room name</mat-label>
          <input matInput placeholder="Room name" formControlName="name">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <button mat-raised-button color="primary" type="submit">Create Room</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
