<div class="container">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="90px">
      <mat-grid-tile colspan="1">
        <h2>Log in</h2>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <button mat-raised-button color="primary" type="submit">Log in</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
